
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>登录--Sundar.Net</title>
    <link rel="stylesheet" href="~/Content/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="~/Css/login.css" media="all" />
</head>
<body class="main" style="background-position: -280.8px 0px;">
    <form class="layui-form login" action="">
        <div class="inner">
            <h4>登录</h4>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe66f;</i></label>
                <div class="layui-input-block">
                    <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" 
                           autocomplete="off" class="layui-input" value="System">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><i class="layui-icon">&#xe673;</i></label>
                <div class="layui-input-block">
                    <input type="password" name="password" id="password" value="123456"
                           required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item btn_out">
                <button class="layui-btn layui-btn-fluid layui-btn-normal loginbtn" lay-submit  lay-filter="login">登录</button>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="~/Content/layui/layui.js"></script>
    <script type="text/javascript" src="~/Js/UserJs/login.js"></script>
</body>
</html>

