@section header
{
    <link rel="stylesheet" href="/css/main.css" media="all" />
}
<div class="panel_box row">
    <div class="panel col">
        <a href="javascript:;" data-url="/orgmanager/index">
            <div class="panel_icon">
                <i class="layui-icon" data-icon="&#xe63a;">&#xe63a;</i>
            </div>
            <div class="panel_word orgs">
                <span></span>
                <cite>机构总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/Rolemanager/index">
            <div class="panel_icon" style="background-color:#FF5722;">
                <i class="iconfont icon-dongtaifensishu" data-icon="icon-dongtaifensishu"></i>
            </div>
            <div class="panel_word roles">
                <span></span>
                <cite>角色总数</cite>
            </div>
        </a>
    </div>
    <div class="panel col">
        <a href="javascript:;" data-url="/UserManager/Index">
            <div class="panel_icon" style="background-color:#009688;">
                <i class="layui-icon" data-icon="&#xe613;">&#xe613;</i>
            </div>
            <div class="panel_word userAll">
                <span></span>
                <cite>用户总数</cite>
            </div>
        </a>
    </div>
</div>
<blockquote class="layui-elem-quote explain">

</blockquote>
<div class="row">
</div>

<script type="text/javascript" src="~/Content/layui/layui.js"></script>
